
.u-centering-font { text-align: center ;  }
.u-margin-btm-8r { margin-bottom: 8rem ; }
.u-margin-top-8r { margin-top: 8rem ; }
.u-margin-top-10r { margin-top: 10rem ; }
.u-margin-btm-small { margin-bottom: 1.5rem ;}
.u-margin-btm-4r { margin-bottom: 4rem ; }
.u-margin-top-2r {margin-top: 2rem ; }